################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CartService/.vs
/CartService/CartService/bin/Debug/net7.0
/CartService/CartService/obj
/CartService/CartServiceTests/obj/Debug
/CartService/packages
/CartService/TestProject1/bin
/CartService/TestProject1/obj
/ProductService/.vs
/ProductService/Domain/bin/Debug/net7.0
/ProductService/Domain/obj
/ProductService/Infrastructure/bin/Debug/net7.0
/ProductService/Infrastructure/obj
/ProductService/ProductApp/bin/Debug/net7.0
/ProductService/ProductApp/obj/Debug/net7.0/ref/ProductApp.dll
/ProductService/ProductApp/obj
/ProductService/ProductService/bin/Debug/net7.0
/ProductService/ProductService/obj
/CartService/CartApp/bin/Debug/net7.0
/CartService/CartApp/obj
