################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CartService/.vs
/CartService/CartService/bin/Debug/net7.0
/CartService/CartService/obj
/CartService/CartServiceTests/obj/Debug
/CartService/packages
/CartService/TestProject1/bin
/CartService/TestProject1/obj
/CartService/CartApp/bin/Debug/net7.0
/CartService/CartApp/obj
/CatalogService/.vs
/CatalogService/CatalogApp/bin/Debug/net7.0
/CatalogService/CatalogApp/obj
/CatalogService/CatalogService.BLL/bin/Debug/net7.0
/CatalogService/CatalogService.BLL/obj
/CatalogService/CatalogService.DAL/bin/Debug/net7.0
/CatalogService/CatalogService.DAL/obj
/CatalogService/Infrastructure/obj/Debug/net7.0
/CatalogService/Infrastructure/obj
/CatalogService/CatalogService.Tests/bin
/CatalogService/CatalogService.Tests/obj
/CartService/CartingService/bin/Debug/net7.0
/CartService/CartingService/obj
/CartService/CartingService.Tests/bin
/CartService/CartingService.Tests/obj
